# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\uni-projects\formal-languages\Formal-Languages-and-Compiler-Design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
